body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
  padding: 20px;
}

/* Navigation CSS */
#navigation {
  padding: 5px 5px 5px 5px;
}

#nav-row {
  display: block;
  text-align: right;
  padding: 10px 10px 10px 10px;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  background: #f9f9f9;
}

#nav-list,
#errors-list {
  list-style-type: none;
  padding: 10px;
  display: inline;
  margin: 10px;
}

li {
  display: inline;
  padding: 10px;
}

li a {
  color: #666666;
  text-decoration: none;
}

li a:hover {
  color: #339999;
  text-decoration: none;
}

/* End of navigation styling */

/* Home page content styling */
#name {
  color: #339999;
  font-size: 42px;
  margin: 50px 10px 10px 10px;
}

#headline {
  color: #666666;
  font-size: 24px;
  margin: 10px 10px 10px 10px;
}

#summary {
  color: black;
  font-size: 16px;
  margin: 10px 5px 10px 5px;
  /*background: #efefef;*/
  padding: 25px 20px 25px 20px;
  /*border: 1px solid #efefef;
  border-radius: 5px;*/
}

#social-links {
  list-style-type: none;
  padding-left: 0;
  margin: 10px 10px 10px 10px;
}

#linkedin,
#github {
  padding: 10px;
}

#skill {
  padding-top: 25px;
  border: 1px solid #efefef;
  border-radius: 5px;
}

#skill-name {
  margin: 0;
}

#heading-skill {
  font-size: 28px;
  color: #339999;
  text-align: center;
  margin: 0;
}

#intro,
#summary-row,
#skillset-row,
#projects-row {
  padding: 25px 25px 25px 25px;
}

#project-box {
  padding: 15px;
  margin-left: 100px;
  border: 1px solid #efefef;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  #project-box {
    margin-left: 25px;
  }
}

#project-title {
  font-size: 24px;
}

#description {
  font-size: 18px;
}

#technologies {
  font-size: 20px;
}

#aboutme,
#skills,
#proj {
  padding-top: 25px;
}

img {
  width: 320px;
  height: 240px;
}
#image {
  text-align: center;
}

/* Form styling */
#feedback-form-name,
#feedback-form-email,
#feedback-form-title,
#feedback-form-message {
  width: 360px;
}

#contact-form {
  padding: 25px 25px 25px 25px;
  border: 1px solid #efefef;
  background: #f9f9f9;
}

#copyright-logo,
#footer-name,
#datetime {
  display: inline;
}
